<manifest xmlns:android="http://schemas.android.com/apk/res/android"><queries><package android:name="cn.returnguard.fixture.target"/><intent><action android:name="android.intent.action.VIEW"/><data android:scheme="https"/></intent></queries><application android:label="跳转测试源" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false" android:fullBackupContent="false" android:dataExtractionRules="@xml/data_extraction_rules"><activity android:name=".MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity><activity android:name=".InternalActivity" android:exported="false"/></application></manifest>
